.cont-bg {
    background: url(https://images.pexels.com/photos/2300334/pexels-photo-2300334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-general {
    background-color: rgba(0, 0, 27, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 0 300px;
    
}
.container-home {
    background-color: rgba(0, 0, 27, 0.8);
}

.cont-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 0px 0px;
}

.cont-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 0px 0px;
}

.form-login {
    display: flex;
    /* justify-content: center; */
    font-weight: 450;
    padding: 10px 30px;
    color: #00dbff;
    width: 60%;
    height: auto;
    border: 1px solid aqua;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9) ;
}

.input-box {
    display: flex;
    flex-direction: column;
}
.input-box-1 {
    display: flex;
    flex-direction: column;
    border-left: 3px solid aqua;
    border-right: 3px solid aqua;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 12px;
}

.input-style {
    border-radius: 0px;
    height: 40px;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: aqua;
}

.modal-body {
    background-color:rgba(200, 0, 0, 1);
    color: white;
    border-radius: 0.3em;
}

.text-login {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 650;
    padding: 10px 0;
    font-size: 40px;
}

.btn-style {
    background-color: transparent;
    color: #00d4ff;
    font-weight: 600;
    border: 2px solid #00d4ff;
    height: 40px;
}
.btn-style:hover {
    background-color: #00d4ff;
    color: black;
}

.btn-sign-up {
    padding: 0 5px;
    margin: 0 5px;
    border: none;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    background-color: transparent;
}
.btn-sign-up:hover {
    color: aqua;
}

.text-ask {
    color : white;
    display: flex;
}

.p-error {
    color: red;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: small;
}

/* ////////////////// */

.home-heading {
    text-align: center;
    padding : 30px 350px;
    color: aqua;
    font-weight: 700;
}
.home-p {
    font-size : 18px;
    font-weight : 300;
    text-align: center;
    padding : 0 300px
}