.navbar-general {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15) ;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-Items: center;
    height: fit-content;
}

.container-login {
    display: flex;
    justify-content: left;
    align-Items: center;
    height: fit-content;
}

.navFont {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
}
.navFont:hover {
    color: aqua;
}

.button {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 20px;
}
.button:hover {
    color: aqua;
}

.image {
    height: 50px;
}

/* CARD  */
.card-container {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    width: 30vw;
    align-items: center;
}
.card-container:hover {
    border: 1px solid aqua;
    scale: 1.01;
}
.card-container-img {
    background-color: black;
    border-radius: 10px 10px 0 0;
    height: 55vh;
    overflow: hidden;
}

.card-title {
    padding: 10px;
    font-weight: 400;
    color: white;
    border-top: 1px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-price {
    padding: 0 10px 10px 10px;
    font-weight: 600;
    color: white;
    margin: 0;
}